# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE configurations
.vscode/
.idea/
*.swp

# Temporary directories
.temp_*/
.temp_sharedspace/
